.app-layout {
  display: flex;
  margin-top: 60px; /* navbar height */
  height: calc(100vh - 60px);
  
  
}
.left-sidebar {
  width: 240px;
  position: fixed;
  left: 0;
  top: 60;
  height:calc(100vh - 60px);
  border-right: 1px solid #dbdbdb;
  background: var(--bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}

.left-sidebar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.left-sidebar a:hover {
  background: #f2f2f2;
  font-weight: bold;
}

.insta-logo {
  font-family: cursive;
  margin-bottom: 40px;
  font-size: 32px;
}

.left-sidebar a {
display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: black;
  margin-bottom: 25px;
  font-size: 18px;
}

.left-sidebar a:hover {
  font-weight: bold;
}

.main-content {
  margin-left: 240px;
  padding:20px;
  flex: 1;
  
  max-width: 1100px;
  display: flex;
  justify-content: center;
}
body {
  margin: 0;
  color: var(--text);
  
  background: var(--bg);
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
}
.profile-container {
  max-width: 935px;
  margin: 0 auto;
  padding: 30px;
}
.profile-header{
  gap: "40px";

}

/* MAIN */
.container {
  
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;

}
.chat-container {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}
.chat-list {
  width: 30%;
  min-width: 250px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.chat-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
/* FEED */
.feed {
  width: 470px;
   flex-shrink: 0;
   display: block;
  
}
.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #dbdbdb;
}
/* STORIES */
.stories {
  display: flex;
   width: 100%;
  gap: 15px;
  padding: 15px;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-bottom: 25px;
  overflow-x: auto;
}

.stories::-webkit-scrollbar {
  display: none;
}

.story {
  text-align: center;
  cursor: pointer;
}

.story-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid #ff2d55;
  padding: 2px;
}

.story-name {
  font-size: 12px;
  margin-top: 6px;
}

/* POST CARD */
.post {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  margin-bottom: 25px;
  width: 105%;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
   box-shadow: 0 2px 8px rgba(0,0,0,0.05);
display: block;

}
.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 20px;
}
.posts-grid img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: 0.2s ease;
}
.posts-grid img:hover {
  transform: scale(1.03);
  opacity: 0.9;
}
.post-header {
  padding: 14px;
  font-weight: bold;
  font-size: 14px;
}

.post img {
  width: 100%;
  
  
  height: auto;
}

.post-actions {
  display: flex;
  gap: 15px;
  padding: 12px;
  font-size: 24px;
  cursor: pointer;
}

.post-content {
  padding: 0 12px 12px;
}

.post button {
  margin-top: 8px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #0095f6;
  color: white;
}

.post input {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

/* SIDEBAR */
.sidebar {
  width: 300px;
  position: fixed;
  right: 0;   /* IMPORTANT */
  top: 0;
  height: 100vh;
  background: white;
  height: fit-content;
  border-left: 1px solid #dbdbdb;
  padding: 15px;
  border-radius: 10px;
  z-index: 100;
  flex-shrink: 0;
}

.sidebar h3 {
  color: #8e8e8e;
}

/* HEART */
.post-image-wrapper {
  position: relative;
}

.heart-animation {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  animation: pop 0.6s ease;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 600px) {
  .feed {
    width: 100%;
  }

  .navbar {
    padding: 0 20px;
  }
  .left-sidebar {
    display: none;
  }

  .feed {
    width: 100%;
  }


  .logo {
    font-size: 22px;
  }
}
.tabs {
  display: flex;
  gap: 30px;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
  margin-top: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 500;
  color: #888;
}

.tabs button.active {
  color: black;
  border-top: 2px solid black;
}
/* DARK MODE */
.dark {
  background-color: #121212;
  color: white;
}

/* Feed */
.dark .feed {
  --bg: #000;
  --text: #fff;
  --card: #121212;

}

/* Posts */
.dark .post {
  background: #1e1e1e;
  border: 1px solid #333;
  background: transparent;
}

/* Sidebar */
.dark .sidebar,
.dark .left-sidebar {
  background: #181818;
  color: white;
  border-color: #333;
}

/* Inputs */
.dark input {
  background: #2a2a2a;
  color: white;
  border: 1px solid #444;
}

/* Buttons */
.dark button {
  background: #333;
  color: white;
}
.dark .left-sidebar a {
  color: white;
}
.dark .left-sidebar a:hover {
  background: #222;
  color: white;
}
.dark .insta-logo {
  color: white;
}
/* PROFILE TABS DARK MODE FIX */
.dark .tabs button {
  color: #bbb;
}

.dark .tabs button.active {
  color: white;
  border-top: 2px solid white;
}
/* CHAT DARK MODE FIX */
.dark .chat-list {
  background: #181818;
  color: white;
}

.dark .chat-box {
  background: #121212;
  color: white;
}
.dark button {
  color: white;
}

.dark .messages {
  color: white;
  background: #121212;
}

.dark .chat-container {
  background: #121212;
}
.dark .messages div {
  color: white;
}
:root {
  --bg: #fff;
  --text: #000;
  --card: #fafafa;
}

.dark {
  --bg: #000;
  --text: #fff;
  --card: #121212;
}
.navbar {
   height: 60px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: var(--bg);
  z-index: 1000;
}

/* push content below navbar */
.app-layout {
  margin-top: 60px;
}

.logo {
  font-family: cursive;
  font-size: 22px;
  text-decoration: none;
  color: var(--text);
}

/* search box */
.search-box {
  display: flex;
  align-items: center;
  background: #efefef;
  padding: 6px 12px;
  border-radius: 8px;
  gap: 6px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
}

.search-icon {
  color: gray;
}
.dark .navbar {
  border-bottom: 1px solid #262626;
}

.dark .search-box {
  background: #262626;
}

.dark .search-box input {
  color: white;
}

.dark .search-icon {
  color: #aaa;
}